.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: var(--background-color);

  display: flex;
  justify-content: space-between;
  padding: 6rem 5rem 2rem 5rem;
  transition: transform var(--transition-duration) ease-in-out;
}

.nav {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.navItemActive {
  color: var(--secondary-text-color);
}

.navItem:hover {
  color: var(--secondary-text-color);
}
/* Mobile */
@media only screen and (max-width: 900px) {
  .header {
    padding: 6em 3rem 3rem 3rem;
  }
}
@media only screen and (max-width: 450px) {
  .header {
    padding: 2rem 2rem 2rem 2rem;
  }
}
