.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 12rem 7rem 1rem 7rem;
}

.title {
  font-size: 1.8rem;
}

.author {
  font-size: 1.8rem;
  color: var(--secondary-text-color);
  margin-left: 170px;
  margin-top: 0.7rem;
}

@media only screen and (max-width: 1110px) {
  .home {
    margin: 12rem 5rem 2rem 5rem;
  }
  .author {
    margin-left: 130px;
  }
}
@media only screen and (max-width: 1067px) {
  .author {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 1020px) {
  .home {
    margin-right: 3rem;
  }
  .author {
    margin-left: 80px;
  }
}

@media only screen and (max-width: 900px) {
  .home {
    /* margin: 12rem 3rem 2rem 3rem; */
  }
  .author {
    margin-left: 170px;
  }
}

@media only screen and (max-width: 520px) {
  .home {
    margin: 12rem 2rem 2rem 2rem;
  }
}

@media only screen and (max-height: 635px) {
  .home {
    margin-top: 8rem;
  }
}
@media only screen and (max-height: 570px) {
  .home {
    margin-top: 4rem;
  }
}
@media only screen and (max-height: 505px) {
  .home {
    margin-top: 1rem;
  }
}
@media only screen and (max-height: 760px) and (min-width: 1024px) {
  .home {
    margin-top: 7rem;
    margin-left: 7rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-height: 635px) and (min-width: 1024px) {
  .home {
    margin-top: 2rem;
    margin-left: 7rem;
    margin-right: 3rem;
  }
}
