.postBody {
  overflow: auto;
  margin: 0 5rem 1rem 5rem;
  transition: all var(--transition-duration) ease-in-out; /* Transition effect when sliding down (and up) */
}
@media only screen and (max-width: 1110px) {
  .postBody {
    margin: 2rem 2rem 2rem 2rem;
  }
}
@media only screen and (max-width: 900px) {
  .postBody {
    margin: 0;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.postBody::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.postBody {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Revert CSS style of target element and its children */
/* .resetStyle,
.resetStyle * {
  all: revert !important;
} */
