:root {
  --background-color: #323232;
  --accent-color: #445544;
  --primary-text-color: #faf9f6;
  --secondary-text-color: #e58c4c;
  --border-color: rgb(182, 109, 56, 0.5);
  --transition-duration: 0.5s;
}

* {
  box-sizing: border-box;
  /* padding: 0;
	margin: 0; */
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

html,
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-weight: light !important;
  overflow: hidden;
  cursor: none;
}

.wrapper-wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  border: 1px var(--border-color) solid;
  border-width: thin;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin: 8rem 8rem 8rem 8rem;
  display: flex;
  width: 100%;
  max-width: 1056px;
  max-height: 620px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  overflow: hidden;
  transition: var(--transition-duration);
}

.second-column-wrapper {
  display: flex;
  flex-basis: 30%;
  transition: var(--transition-duration); /* Transition effect when sliding down (and up) */
}
#posts-list {
  background-color: var(--border-color);
}
.third-space {
  display: flex;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact-icons {
  display: flex;
  svg {
    margin: 0 0.5rem 0 0.5rem;
  }
}

.hide {
  transform: translateY(-300%);
  /* visibility: hidden; */
}

.hide-posts {
  transform: translateY(200%);
}
.move {
  transform: translateY(-20%);
  margin-top: -3rem !important;
  margin-bottom: -5rem !important;
  /* position: absolute; */
}

/* Middle */
@media only screen and (max-width: 1300px) {
  .content-wrapper {
    max-width: 856px;
    max-height: 520px;
  }
}

@media only screen and (max-width: 1110px) {
  .content-wrapper {
    margin: 2rem 2rem 2rem 2rem;
  }
}

/* Mobile */
@media only screen and (max-width: 900px) {
  .wrapper-wrapper {
    height: 100vh !important;
  }
  .content {
    margin: 3em 2rem 4rem 2rem;
    flex-basis: 140% !important;
  }

  .content-wrapper {
    border: none;
    margin: 0;
    flex-direction: column;
    max-height: 98vh;
  }

  .footer-wrapper {
    display: none;
    visibility: hidden;
  }

  .move {
    margin-top: -4rem !important;
    margin-bottom: -9rem !important;
  }
  .moveMobile {
    margin-bottom: -50% !important;
    transition: var(--transition-duration);
  }
}

@media only screen and (max-width: 450px) {
  .content {
    margin: 1rem 1rem 1rem 1rem;
  }
}
