:root {
  --background-color: #323232;
  --accent-color: #445544;
  --primary-text-color: #faf9f6;
  --secondary-text-color: #e58c4c;
  --border-color: rgb(182, 109, 56, 0.5);
  --transition-duration: 0.2s;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
@media (prefers-reduced-motion: no-preference) {
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Ensures smooth scrolling on iOS */
    /* play around with this */
    /* scroll-padding-top: 3rem; */
  }
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100svh;
  cursor: none;
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
.wrapper-wrapper {
  display: flex;
  justify-content: center;
  height: 90dvh;
}
.content-wrapper {
  border: 1px var(--border-color) solid;
  border-width: thin;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  margin: 8rem 8rem 8rem 8rem;
  display: flex;

  width: 100dvw;
  max-width: 1056px;
  max-height: 620px;
}
.content {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* Ensures smooth scrolling on iOS */
  overflow-x: hidden;
  /* overflow-y: auto; */

  flex-basis: 90%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.second-column-wrapper {
  display: flex;
  flex-basis: 30%;
  transition: transform var(--transition-duration) ease-in-out;

  /* Transition effect when sliding down (and up) */
  /* transition: var(--transition-duration); */
}

.hide-header {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: transform var(--transition-duration) ease-in-out;
}
.show-header {
  background-image: radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0) 100%);
}
@media only screen and (max-width: 1110px) {
  .content {
    flex-basis: 75%;
  }
}
/* RESPONSIVE VERSIONS */
/* Mobile */
@media only screen and (max-width: 900px) {
  .content {
    flex-basis: 100%;
  }
  footer {
    display: none !important;
  }
  .wrapper-wrapper {
    height: 100dvh;
    overflow: hidden;
  }
  .hide-posts {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: transform var(--transition-duration) ease-in-out;
  }
  .move-body {
    margin-bottom: -150px;
    flex-basis: auto;
  }
  .second-column-wrapper {
    position: sticky;
    bottom: 0;
    flex-basis: auto;
  }
  .content-wrapper {
    border: none;
    margin: 0;
    flex-direction: column;
    display: flex;
    /* overflow: auto; */
    max-height: none;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 900px) {
  .aboutMeHeader {
    margin-top: 0 !important;

    font-size: 22px !important;
  }
  .aboutMeImage {
    height: 90px !important;
    width: 100px !important;
    margin-top: 0 !important;
  }
  .aboutMeBio {
    align-items: flex-start !important;
    flex-direction: column !important;
  }
  .aboutMeText {
    text-wrap: unset !important;
    font-size: 14px !important;
  }
}
