code {
  counter-reset: line;
}
figure > pre {
  padding: 0.5rem 0 0.5rem 0;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

/* This next line is for code blocks without line numbers */
code:not([data-line-numbers]) {
  padding-left: 1rem;
}

code[data-line-numbers] {
  gap: 0.1rem;
}

/* code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
} */

figure[data-rehype-pretty-code-figure] {
  margin: 0;
  overflow-x: auto;
  width: 100% !important;

  pre {
    background-color: #3c3c3c !important;
  }
}
/* width */
::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
